<html lang="en-US">
 <body>
   <h1 class="text-center pageTitle">{{pageName}}</h1>
   <div class="container mt-2">
     <div class="overflow-scroll mt-2 animated fadeIn">
       <div class="card m-2 animated fadeIn col-md-3 d-inline-flex" ng-repeat="table in [].constructor(tables) track by $index" id="{{$index}}" onclick="changeStatus(this.id)">
         <div class="card-title"><h3>Table {{$index+1}}</h3></div>
         <p ng-repeat="item in getOrderByTable($index+1) track by $index">{{$index+1}}. {{item}}</p>
      </div>
     </div>
   </div>

   <script>
      function changeStatus(id) {
        $('#' + id).toggleClass("btn-added");
      }
   </script>
 </body>
</html>
