
#game-base{
  width:640px;
  margin:0 auto;
  padding-top:60px;
}

#game-table{
  width:434px;
  height:374px;
  margin:0 auto;
  background:url("/spaghetti/custom_src/img/content/pasta.jpg") 0 0 no-repeat;
  position:relative;
}

.disc{
  position:absolute;
  z-index:0;
  top:-55px;
  left:14px;
  width:46px;
  height:46px;
  border-radius:46px;
  transition:all .3s;
}

.disc.red{
  background:#d96666;
}

.disc.yellow{
  background:#ffeb79;
}
