/*left side menu buttons (i.e. menu, games, loyalty, your order, your bill)*/
.menu {
  color: #B01E16;
  background-color: white;
  border-color: #B01E16;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-light .navbar-nav .nav-link{
  color: #B01E16;
  font-weight: bold;
}

a {
  font-size: 1 rem;
}

a:hover {
  color: #b01e16;
}

.full-height {
  height: 100%;
}
