body{
  background-image: url("../img/textures/dark_red_silk.JPG");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 100%;
}

.tag-line {
  font-size: 14px;
}
/*top menu and side menu*/
.fixed-menu {
  background-color: #7b7b7b;
  color: #f0ebd7;
}

.side-menu {
  min-height: calc(100vh - 86px);
}

.full-card {
  min-height: calc(100vh - 100px);
}

/*left side menu buttons (i.e. menu, games, loyalty, your order, your bill)*/
.menu {
  color: #B01E16;
  background-color: #f0ebd7;
  border-color: #B01E16;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2%;
  height: 18%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-pic {
  width:128px;
  height:128px;
  border:0;
}

.navbar-light .navbar-nav .nav-link{
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.btn {
  font-size:20px;
}

.btn-top {
  background-color: #7b7b7b;
  border: none;
}

.selected {
  background: yellow;
}

.card {
  background-color: #f0ebd7;
  border-color: #B01E16;
}
a {
  font-size: 1 rem;
}

a:hover {
  color: #b01e16;
}

.btn-page {
  border-color: #7b7b7b;
  color: #b01e16;
  margin: 5px;
}

.btn-page h3{
    font-size: 26px;
    margin: 8px;
}

.btn-page:hover {
  border-color:#b01e16;
}

/*WAIT STAFF PAGE */
.block-align {
text-align: center;
vertical-align: middle;
}

.circle {
background: white;
border-radius: 100px;
color: black;
height: 100px;
font-weight: bold;
width: 100px;
display: table;
margin: 20px auto;
}

.circle p {
vertical-align: middle;
display: table-cell;
}
/* The Modal (background) */
#myBtn, #refillBtn {
  background: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 130px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin-left: 20%;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close, .exit, .bye {
    display: relative;
    color: white;
    float: right;
    margin-right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus, .exit:hover, .exit:focus, .bye:hover, .bye:focus {
    color: #000;
    cursor: pointer;
}

.overflow-scroll {
  overflow-y: scroll;
  height: 375px;
}

.overflow-scroll-order {
  overflow-y: scroll;
  height: 325px;
}

.pageTitle {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #4c1412;
  margin-bottom:5px;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.menuItem {
  font-size: 20px;
  font-weight: bold;
  color: #B01E16;
}

.menuPrice {
  font-size: 16px;
  font-style: italic;
  color: #B01E16;
}

.order-text {
  font-size: 16px;
  font-weight: bold;
  color: #B01E16;
}

.order-price {
  font-size: 14px;
  font-style: italic;
  color: #B01E16;
}


.btn-select {
  border-color: #7b7b7b;
  background-color: #b26662;
  margin: 5px;
}

.btn-comp {
  font-size:16px;
  border-color: #7b7b7b;
  color: #b01e16;
}

.comp-div {
  border-top:0px dashed #c5504a;
  border-right:0px dashed #c5504a;
  border-bottom:1px dashed #c5504a;
  border-left:0px dashed #c5504a;
}

.btn-added {
  background-color: #3c8926;
}

.btn-select:hover {
  border-color:#b01e16;
}

.loyalty-pts {
  font-size: 32px;
  font-weight: bold;
  color: #155b1d;
}

.btn-back {
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #7b7b7b;
}


body {
  font-family: 'Palatino', 'Garamond', serif;
}

h1 {
  font-size: 2em;
}

.info {
  text-align: center;
}

.wrapper {
  margin: 50px auto 0;
  width: 450px;
}

.board button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  background: #bbb;
}

button.red {
  background: #ad0505;
  background: linear-gradient(to bottom, #ff1616 0%,#ad0505 100%);
}

button.black {
  background: #000;
  background: linear-gradient(to bottom, #333 0%,#000000 100%);
}

.player {
  text-transform: capitalize;
}

.info .red {
  color: red;
}

.info .black {
  color: black;
}

.play-again {
  display: none;
}
.play-again {
  display: inline-block;
  margin-bottom: 2em;
  height: 40px;
  line-height: 40px;
  width: 50%;
  background: mediumseagreen;
  color: white;
  text-decoration: none;
  font-family: helvetica;
  opacity: 0.9;
}
.play-again:hover {
  opacity: 1;
}

.welcome{
  width: 70%;
  height: 60%;
  margin-bottom: 2%;
}

@media (max-width: 460px) {
  .message {
    font-size: 1.3em;
  }

  .wrapper {
    margin: 20px auto 0;
    width: 240px;
  }

  .board button {
    width: 30px;
    height: 30px;
  }
}

.spaghettiempire {
  padding-top:10rem;
  /*font-size: 14rem;*/
  font-size: calc(8vw + 8vh);
  font-family: New Century Schoolbook, serif;
  font-weight: 100;
  -webkit-text-stroke: 3px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  text-align: center;
}
