<html lang="en-US">
 <body>
   <h1 class="text-center pageTitle">{{pageName}}</h1>
   <div class="container mt-2">
     <div class="overflow-scroll mt-2 animated fadeIn">
       <div class="card m-2 animated fadeIn col-md-5 d-inline-flex" ng-repeat="table in [].constructor(tables) track by $index" id="{{$index}}">
         <div class="card-title"><h3>Table {{$index+1}}</h3></div>
         <div class="comp-div" ng-repeat="item in getOrderByTable($index+1) track by $index">
           <p>{{item.item_name}} - {{item.price | currency:'$'}}</p>
           <button class="btn btn-comp mb-2" ng-click="compThisItem(item.item_name, item.phone_no, item.price, '0')">Comp Item</button>
         </div>
      </div>
     </div>
   </div>
 </body>
</html>
