<html lang="en-US">
 <body>
   <h1 class="text-center pageTitle">{{pageName}}</h1>

   <div class="container mt-2">
     <div class="justify-content-center text-center col-md-12 mt-2 animated fadeIn">

     <ul class="nav nav-tabs nav-justified">
      <li class="active">
        <a class="nav-link btn active" data-toggle="tab" ng-click="currentDateRange = dateRanges.day">Daily</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" data-toggle="tab" ng-click="currentDateRange = dateRanges.week">Weekly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" data-toggle="tab" ng-click="currentDateRange = dateRanges.month">Monthly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" data-toggle="tab" ng-click="currentDateRange = dateRanges.all">All-Time</a>
      </li>
    </ul>

    <table>
      <tr ng-repeat="record in orders | filter:eventDateFilter">
        <td>{{$index}}</td>
        <td>{{record.amt}}</td>
      </tr>
    <table>
    </div>
   </div>
 </body>
</html>
