<html lang="en-US">
 <body>
   <h1 class="text-center pageTitle">{{pageName}}</h1>

   <div class="container mt-2">
     <div class="justify-content-center text-center col-md-12 mt-2 animated fadeIn overflow-scroll">
      <p class="text-center">Click on any tab to view financials information for that tab.</p>
     <ul class="nav nav-tabs nav-justified">
      <li class="active">
        <a class="nav-link btn" data-toggle="tab" ng-click="changeTab('daily')">Daily</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" data-toggle="tab" ng-click="changeTab('weekly')">Weekly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" data-toggle="tab" ng-click="changeTab('monthly')">Monthly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" data-toggle="tab" ng-click="changeTab('all')">All-Time</a>
      </li>
    </ul>

    <table class="col-md-12 table-striped table-hover table-sm">
      <thead class="thead-dark">
       <tr>
         <th scope="col">Order #</th>
         <th scope="col">Profit</th>
       </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in orders">
            <td>
              <p class="text-center">{{$index+1}}</p>
            </td>
            <td>
              <p class="text-center">{{record.amt | currency:'$'}}</p>
            </td>
        </tr>
      </tbody>
    </table>

    </div>
    <div class="col-md-12 text-center">
      <h4>Total Profits: {{profits | currency:'$'}}</h4>
      <h4>Total Losses: {{losses | currency:'$'}}</h4>
    </div>
   </div>
 </body>
</html>
